/**
*font-family: 'Montserrat', sans-serif;
*
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

:root {
  --montserrat: 'Montserrat', sans-serif;

  --grey-1: #4e5150;
  --grey-2: #a9a9a9;
  --grey-3: #bdbdbd;
  --grey-4: #e5e5e5;
  --grey-foot: #b9bdcf;
  --white: #ffffff;

  --mg-left-right: 0.75rem;
}
