@import url('./_reset.css');
@import url('./_variables.css');

body {
  font-family: var(--montserrat);
  font-size: 16px;
  background-color: var(--white);
  color: var(--grey-1);
}

.app {
  display: grid;
  grid-template-areas: 'user' 'content' 'footer';
  grid-template-columns: auto;
  grid-template-rows: 35vh 55vh auto;
}

.user {
  grid-area: user;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.container {
  padding-left: 2%;
  padding-right: 2%;
}

@media screen and (min-width: 768px) {
  .app {
    grid-template-rows: 40vh 100vh auto;
  }
}
