.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;
  margin-bottom: 1.5rem;

  font-weight: 500;
  font-size: 0.875rem;
  color: var(--grey-foot);
}

.footer__user {
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 9rem;
  }
}
